.form {
  max-width: 900px;
  width: 100%;
  margin: 10px auto;
}

.peso,
.altura {
  display: block;
  width: 80%;
  margin: 0 auto;
  border: none;
  border-bottom: 0.5px solid var(--forest);
  height: 70px;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.peso::placeholder,
.altura::placeholder {
  color: var(--dark);
}

.peso:focus,
.altura:focus {
  transition: all 0.5s ease;
  outline: 1px solid var(--forest);
}
.submit {
  border-radius: 15px;
  border: 1px solid var(--forest);
  padding: 5px 15px;
  color: var(--forest);
  margin: 30px auto;
  background-color: transparent;
  display: block;
  font-size: 30px;
  cursor: pointer;
  text-transform: uppercase;
}

.submit:hover {
  transition: all 0.5s ease;
  background-color: var(--forest);
  color: var(--dark);
}

.resultado {
  display: block;
  margin: 0 auto;
  color: var(--dark);
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
